
.container{
    width: 1000px;
    margin:0 auto;
    @include responsive-width($laptop_m){
        width: 1024px;
    }
}

//clearfix

.cf,
%cf {
    &::before,
    &::after {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }
}