section.remanso-comments.container
    .remanso-comments__person
        h3.remanso-comments__title ”Excelente ambiente”
        p.remanso-comments__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ex obcaecati vero. Omnis quae obcaecati, doloribus nostrum sequi vel voluptas magni! Quo non repellat nam accusamus, similique beatae enim necessitatibus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci sequi illum ipsum velit ut eveniet voluptatibus? Ea magnam dicta ratione cumque minus. Sed ullam nisi laborum at sapiente vel distinctio!
        p.remanso-comments__name Carlos Huamacto
        p.remanso-comments__dni 46314595
    .remanso-comments__person
        h3.remanso-comments__title ”Excelente ambiente”
        p.remanso-comments__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ex obcaecati vero. Omnis quae obcaecati, doloribus nostrum sequi vel voluptas magni! Quo non repellat nam accusamus, similique beatae enim necessitatibus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci sequi illum ipsum velit ut eveniet voluptatibus? Ea magnam dicta ratione cumque minus. Sed ullam nisi laborum at sapiente vel distinctio!
        p.remanso-comments__name Carlos Huamacto
        p.remanso-comments__dni 46314595
    .remanso-comments__person
        h3.remanso-comments__title ”Excelente ambiente”
        p.remanso-comments__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ex obcaecati vero. Omnis quae obcaecati, doloribus nostrum sequi vel voluptas magni! Quo non repellat nam accusamus, similique beatae enim necessitatibus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci sequi illum ipsum velit ut eveniet voluptatibus? Ea magnam dicta ratione cumque minus. Sed ullam nisi laborum at sapiente vel distinctio!
        p.remanso-comments__name Carlos Huamacto
        p.remanso-comments__dni 46314595