section.digital-tech-hero
    .digital-tech-hero__img-slide
        +mx_picture_retina_oneimg('', img_path+'/img-digital-tech-promotional', 'png', 'Imagen Hero 1')
    .digital-tech-hero__img-slide
        +mx_picture_retina_oneimg('', img_path+'/img-digital-tech-promotional', 'png', 'Imagen Hero 2')
    .digital-tech-hero__img-slide
        +mx_picture_retina_oneimg('', img_path+'/img-digital-tech-promotional', 'png', 'Imagen Hero 3')