section.remanso-hero
    .remanso-hero__img-slide
        +mx_picture_retina_oneimg('', img_path+'/image-1', 'png', 'Imagen Hero 1')
    .remanso-hero__img-slide
        +mx_picture_retina_oneimg('', img_path+'/image-2', 'png', 'Imagen Hero 2')
    .remanso-hero__img-slide
        +mx_picture_retina_oneimg('', img_path+'/image-3', 'png', 'Imagen Hero 3')
