section.remanso-informacion-club.container
    .remanso-informacion-club__logo
        +mx_picture_retina_oneimg('', img_path+'/logo-completo-remanso', 'png', 'Logo Completo de El Remanso')
    .remanso-informacion-club__description 
        .remanso-informacion-club__title
            h2 NUESTRO CLUB CUENTA CON:
        .remanso-informacion-club__text
            p Nuestro club cuenta con área de piscina, rodeada de exuberante vegetación y con una temperatura perfecta para refrescarte en los días soleados.
            p Si eres amante del deporte, nuestras modernas losas deportivas te ofrecen la oportunidad de practicar tus actividades favoritas al aire libre.
            p Nuestro club también se preocupa por la diversión de los más pequeños. Contamos con un área de recreación infantil que está especialmente diseñada para brindarles entretenimiento y seguridad.
        .remanso-informacion-club__details
            .remanso-informacion-club__details__item
                p 5
                h3 Piscinas
            .remanso-informacion-club__details__item
                p 40
                h3 Parrillas 
            .remanso-informacion-club__details__item
                p 4
                h3 Lozas
            .remanso-informacion-club__details__item
                p 250#[span m2]
                h3 Áreas Verdes

        