section.digital-tech-info
    .digital-tech-info__contact.container
        .digital-tech-info__contact__logo
            +mx_picture_retina_oneimg('', img_path+'/logo-digital-tech', 'png', 'Logo Remanso')
        .digital-tech-info__contact__details
            .digital-tech-info__contact__location.flex-item
                .digital-tech-info__contact__img
                    +mx_picture_retina_oneimg('', img_path+'/icon-usuario', 'png', 'Icono Localización')
                .digital-tech-info__contact__text
                    p MI CUENTA
            .digital-tech-info__contact__whatsapp.flex-item
                .digital-tech-info__contact__img
                    +mx_picture_retina_oneimg('', img_path+'/icon-buycar', 'png', 'Icono Whatsapp')
                .digital-tech-info__contact__text
                    //- p 993-120-834
            
section.digital-tech-nav
    nav.digital-tech-nav__pages.container.cf
        ul
            li #[a(href="./index") Inicio]
            li #[a(href="./pages/celulares.html") Celulares]
            li #[a(href="./pages/computadoras.html") Computadoras]
            li #[a(href="./pages/laptops.html") Laptops]
            li #[a(href="./pages/tablets.html") Tablets]