section.remanso-social 
    .remanso-social__container 
        a(href="https://api.whatsapp.com/send/?phone=51993120834&text&type=phone_number&app_absent=0", target="_blank") #[+mx_picture_retina_oneimg('', img_path+'/icono-whatsapp', 'png', 'Logo Remanso')]
        a(href="https://www.instagram.com/elremansoperu/", target="_blank") #[+mx_picture_retina_oneimg('', img_path+'/icono-instagram', 'png', 'Logo Remanso')]
        a(href="https://www.facebook.com/elremanso.restaurantcampestre", target="_blank") #[+mx_picture_retina_oneimg('', img_path+'/icono-facebook', 'png', 'Logo Remanso')]